body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: border-box;
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5 {
	margin: 0;
}
a {
	outline: none;
	text-decoration: none;
}
/* INDEX STYLES */
.outer-container {
	width: 100vw;
	height: 100%;
	min-height: 100vh;
	background: #232323;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.photo-container {
	width: 375px;
	transition: .2s ease-in-out all;
}
.photo {
	margin: 10px 0 100px 0;
	width: 375px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	border-radius: 10px;
	transition: .2s ease-in-out all;
	position: relative;
}
.image-holder-div {
	position: relative;
}
.comments-and-like-holder p {
	text-align: left;
	margin: 6px 24px;
}
.comments-and-like-holder p:nth-of-type(1) {
	text-align: center;
	margin-bottom: 12px;
}
.photo > .user-info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 12px 0;
}
.photo > .user-info > img {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	margin: 0 12px 0 12px;
}
.photo-container > .photo > .image-holder-div > img {
	width: 100%;
	transition: .2s ease-in-out all;
}
.photo-overlay {
	background: rgba(5, 5, 5, 0.7);
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .2s ease-in-out all;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.toggle-overlay {
	transition: .2s ease-in-out all;
	display: none;
}
.right-align {
	justify-self: flex-end;
	margin-right: 48px;
}
.icon-holder-inside-overlay {
	display: flex;
	justify-content: center;
}
/* ****************** */

/*  BUTTON STYLES  */
.button-nav-container {
	display: flex;
	width: 100%;
	height: 80px;
	justify-content: space-evenly;
	align-items: center;
	position: fixed;
	bottom: 0;
	background: #232323;
}
.button-holder-div {
	display: flex;
	align-items: center;
}
.navigation-button {
	width: 60px;
	height: 60px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: rgb(20,20,20);
	background: linear-gradient(49deg, rgba(20,20,20,1) -50%, rgba(76,27,236,1) 100%);
	color: #fff;
	border: none;
	border-radius: 20px;
}
.fullsize-button {
	width: 160px;
	height: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #FFBE0B;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 1.1rem;
}
.delete-text-button {
	color: #E22434;
	margin-left: 5px;
	background: transparent;
	border: none;
}
.floating-action-button {
	width: 60px;
	height: 60px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: rgb(226,36,52);
	background: linear-gradient(45deg, rgba(226,36,52,1) -50%, rgba(252,93,24,1) 100%);
	color: #fff;
	border: none;
	border-radius: 20px;
	transform: rotate(45deg);
}
.logout-button {
	color: #E22434;
}
.login-register-swap {
	color: #FFBE0B;
}
/* *************** */

/* SEARCH MODAL STYLES */

.is-hidden { 
	display: none; 
}
.is-visuallyHidden { 
	opacity: 0;
}
.search-modal-holder {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.6);
	-webkit-transition: 0.5s;
	overflow: auto;
	transition: all 0.3s linear;
	z-index: 0;
}
.search-modal-content {
	width: 355px;
	height: 188px;
	background: rgb(20,20,20);
	background: radial-gradient(circle, rgba(20,20,20,1) 0%, rgba(5,5,5,1) 100%);
	position: absolute;
	top: 25%;
	left: 10px;
	border-radius: 10px;
}
.input-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 188px;
}
.search-query {
	height: 60px;
	width: 260px;
	border-radius: 10px;
	border: 1px solid white;
	background: transparent;
	padding-left: 24px;
	color: #fff;
	transition: .2s ease-in-out all;
}
.search-query:focus {
	outline: none;
	border: 1px solid #FFBE0B;
}
.search-query:active {
	outline: none;
}
/* ******************* */
/* REGISTER STYLES */
.register-input-container {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.register-form-field {
	height: 60px;
	width: 260px;
	border-radius: 10px;
	border: 1px solid white;
	background: transparent;
	padding-left: 24px;
	color: #fff;
	transition: .2s ease-in-out all;
}
.register-form-field:focus {
	outline: none;
	border: 1px solid #FFBE0B;
}
.register-form-field:active {
	outline: none;
}
.alt-link-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* *************** */
/* LOGIN STYLES */

.login-input-container {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.login-form-field {
	height: 60px;
	width: 260px;
	border-radius: 10px;
	border: 1px solid white;
	background: transparent;
	padding-left: 24px;
	
	color: #fff;
	transition: .2s ease-in-out all;
	margin-bottom: 20px;
}
.login-form-field:focus {
	outline: none;
	border: 1px solid #FFBE0B;
}
.login-form-field:active {
	outline: none;
}
.alt-link-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
/* *************** */
/* POSTS STYLES */

.posts-input-container {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.posts-form-field {
	height: 60px;
	width: 260px;
	border-radius: 10px;
	border: 1px solid white;
	background: transparent;
	padding-left: 24px;
	color: #fff;
	transition: .2s ease-in-out all;
	margin-bottom: 20px;
}
input[type="file"] {
	margin: 20px 0;
}
textarea  {
	resize: none;
	padding-top: 30px;
	font-family: inherit;
	font-size: inherit;
}
.posts-form-field:focus {
	outline: none;
	border: 1px solid #FFBE0B;
}
.posts-form-field:active {
	outline: none;
}
.preview-image {
	height: 200px;
	width: 100%;
}
.preview-image > .photo {
	height: 200px;
	width: 100%;
}
.preview-image > .photo img {
	width: 355px;
	height: 500px;
}
.edit-icon {
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 9999;
}
.icon-style {
	margin: 5px;
}
.like-icon {
	color: #E22434;
}
.dislike-icon {
	color: #4C1BEC;
}
.comment-icon {
	color: #FFBE0B;
}
/* *************** */
/* PROFILE STYLES */

.profile-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.profile-input-container {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.profile-form-field {
	height: 60px;
	width: 260px;
	border-radius: 10px;
	border: 1px solid white;
	background: transparent;
	padding-left: 24px;

	color: #fff;
	transition: .2s ease-in-out all;
	margin-bottom: 20px;
}
input[type="file"] {
	margin-top: 20px;
}
.profile-form-field:focus {
	outline: none;
	border: 1px solid #FFBE0B;
}
.profile-form-field:active {
	outline: none;
}
.preview-image {
	height: 200px;
	width: 100%;
}
.preview-image img {
	height: 200px;
	width: 100%;
}
.profile-modal-holder {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.6);
	-webkit-transition: 0.5s;
	overflow: auto;
	transition: all 0.3s linear;
	z-index: 0;
}
.profile-modal-content {
	background: rgb(20,20,20);
	background: radial-gradient(circle, rgba(20,20,20,1) 0%, rgba(5,5,5,1) 100%);
	border-radius: 10px;
}
.profile-image {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: #fff;
}
.profile-image-overlay {
	visibility: hidden;
	background: rgba(255, 255, 255, 0.8);
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #050505;
	cursor: pointer;
}
.active-user::after{
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	content: ' \f142';
	font-size: 18px;
}
.profile-photo-gallery {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.thumb-photo-gallery {
	width: 	160px;
	height: 120px;
	margin: 5px 5px 0px 5px;
}
/* *************** */
