body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: border-box;
}
.page    { display: none; padding: 0 0.5em; }
.page h1 { font-size: 2em; line-height: 1em; margin-top: 1.1em; font-weight: bold; }
.page p  { font-size: 1.5em; line-height: 1.275em; margin-top: 0.15em; }

#loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #232323;
  background-image: url("/assets/icons/loading_screen_iphone_x_optimized.gif");
  background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.icon::before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}
a {
	outline: none;
	text-decoration: none;
}
.error-message {
	color: #e22434;
	text-align: center;
}
/* INDEX STYLES */
.outer-container {
	width: 100vw;
	height: 100%;
	min-height: 100vh;
	background: #232323;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.photo-container {
	width: 375px;
	transition: 0.2s ease-in-out all;
}
.photo {
	margin: 10px 0 100px 0;
	width: 375px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	border-radius: 10px;
	transition: 0.2s ease-in-out all;
	position: relative;
	background: #141414;
}
.image-holder-div {
	position: relative;
}
.photo > .user-info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 12px 0;
}
.photo > .user-info > img {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	margin: 0 12px 0 12px;
}
.photo-container > .photo > .image-holder-div > img {
	width: 100%;
	transition: 0.2s ease-in-out all;
}
.photo-overlay {
	background: rgba(5, 5, 5, 0.7);
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.2s ease-in-out all;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.toggle-overlay {
	transition: 0.2s ease-in-out all;
	display: none;
}
.right-align {
	justify-self: flex-end;
	margin-right: 48px;
}
.icon-holder-inside-overlay {
	display: flex;
	justify-content: center;
}
/* ****************** */

/*  BUTTON STYLES  */
.button-nav-container {
	display: flex;
	width: 100%;
	height: 80px;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	background: #232323;
}
.button-nav-container > a, .button-nav-container > button {
	margin: 0px 30px;
}
.button-holder-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.button-holder-div button {
	margin: 6px 0px;
}
.navigation-button {
	width: 55px;
	height: 55px;
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
	background: rgb(20, 20, 20);
	background: linear-gradient(
		49deg,
		rgba(20, 20, 20, 1) -50%,
		#4c1bec 100%
	);
	color: #fff;
	border: none;
	border-radius: 20px;
}
.fullsize-button {
	width: 160px;
	height: 50px;
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
	background: linear-gradient(
		49deg,
		#141414 -50%,
		rgba(76, 27, 236, 1) 100%
	);
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 1.1rem;
}
.delete-text-button {
	color: #e22434;
	margin-left: 5px;
	background: transparent;
	border: none;
}
.floating-action-button {
	width: 55px;
	height: 55px;
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
	background: rgb(226, 36, 52);
	background: linear-gradient(
		45deg,
		rgba(226, 36, 52, 1) -50%,
		#fc5d18 100%
	);
	color: #fff;
	border: none;
	border-radius: 20px;
	transform: rotate(45deg);
}
.floating-action-button > i {
	transform: rotate(45deg);
}
.logout-button {
	color: #e22434;
}
.login-register-swap {
	color: #ffbe0b;
}
/* *************** */

/* SEARCH MODAL STYLES */

.is-hidden {
	display: none;
}
.is-visuallyHidden {
	opacity: 0;
}
.search-modal-holder {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.6);
	-webkit-transition: 0.5s;
	overflow: auto;
	transition: all 0.3s linear;
	z-index: 0;
}
.search-modal-content {
	width: 100%;
	height: 188px;
	background: rgb(20, 20, 20);
	background: radial-gradient(
		circle,
		rgba(20, 20, 20, 1) 0%,
		rgba(5, 5, 5, 1) 100%
	);
	position: absolute;
	top: 25%;
}
.input-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 188px;
}
.search-query {
	height: 55px;
	width: 260px;
	border: 1px solid white;
	background: transparent;
	padding-left: 24px;
	color: #fff;
	transition: 0.2s ease-in-out all;
}
.search-query:focus {
	outline: none;
	border: 1px solid #ffbe0b;
}
.search-query:active {
	outline: none;
}
/* ******************* */
/* REGISTER STYLES */
.register-input-container {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.register-form-field {
	height: 60px;
	width: 260px;
	border: 1px solid white;
	background: transparent;
	padding-left: 24px;
	color: #fff;
	transition: 0.2s ease-in-out all;
}
.register-form-field:focus {
	outline: none;
	border: 1px solid #ffbe0b;
}
.register-form-field:active {
	outline: none;
}
.alt-link-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* *************** */
/* LOGIN STYLES */

.login-input-container {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.login-form-field {
	height: 60px;
	width: 260px;
	border: 1px solid white;
	background: transparent;
	padding-left: 24px;

	color: #fff;
	transition: 0.2s ease-in-out all;
	margin-bottom: 20px;
}
.login-form-field:focus {
	outline: none;
	border: 1px solid #ffbe0b;
}
.login-form-field:active {
	outline: none;
}
.alt-link-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
/* *************** */
/* POSTS STYLES */

.posts-input-container {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.posts-form-field {
	height: 60px;
	width: 260px;
	border: 1px solid white;
	background: transparent;
	padding-left: 24px;
	color: #fff;
	transition: 0.2s ease-in-out all;
	margin-bottom: 20px;
}
.file-upload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.file-upload + label {
	/* font-size: 1.25em; */
	/* font-weight: 700; */
	color: white;
	background: linear-gradient(
		49deg,
		rgba(20, 20, 20, 1) -50%,
		rgba(76, 27, 236, 1) 100%);
	display: inline-block;
	padding: 0.625rem 1.25rem;
	margin: 20px 0;
	border-radius: 10px;
}
.file-upload:focus + label,
.file-upload + label:hover {
    cursor: pointer;
}
textarea {
	resize: none;
	padding-top: 30px;
	font-family: 'Open Sans', sans-serif !important;
}
input {
	font-family: 'Open Sans', sans-serif !important;
}
.posts-form-field:focus {
	outline: none;
	border: 1px solid #ffbe0b;
}
.posts-form-field:active {
	outline: none;
}
.preview-image {
	height: 200px;
	width: 50%;
}
.preview-image + .photo {
	height: 200px;
	width: 100%;
}
.preview-image > .photo img {
	width: 355px;
	height: 500px;
}
.dropbtn {
	border: none;
	background: rgba(0, 0, 0, 0);
}
.dropbtn::after {
	content: "\f141";
	font-family: 'Font Awesome 5 Free';
  color: white;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	z-index: 100;
}
.dropbtn:hover, .dropbtn:focus {
	outline: none;
}
.dropdown {
  position: absolute;
	display: inline-block;
	bottom: 0;
	left: 12px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a, .dropdown-content span {
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {
	background-color: #ddd;
}
.show {
	display: block;
}
.delete-icon::after {
	content: ' \f1f8';
	font-family: 'Font Awesome 5 Free';
	font-size: 18px;
	font-weight: 600;
	color: #e22434 !important;
}
.delete-icon {
	color: #e22434 !important;
}
.delete-icon:hover {
	cursor: pointer;
}
.icon-style {
	margin: 5px;
}
.like-icon {
	color: #e22434;
}
.dislike-icon {
	color: #4c1bec;
}
.comment-icon {
	color: #ffbe0b;
}
.comment-modal-content {
	display: flex;
	flex-direction: column;
	
}
.comment-modal-content span {
	text-align: center !important;
}
.comment-text-input {
	height: 60px;
	width: 260px;
	border: 1px solid white;
	background: transparent;
	padding-left: 24px;
	color: #fff;
	transition: 0.2s ease-in-out all;
}
.comment-text-input:focus {
	outline: none;
	border: 1px solid #ffbe0b;
}
.comment-text-input:active {
	outline: none;
}
/* *************** */
/* PROFILE STYLES */

.profile-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.profile-input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.profile-form-field {
	height: 60px;
	width: 260px;
	border: 1px solid white;
	background: transparent;
	padding-left: 24px;

	color: #fff;
	transition: 0.2s ease-in-out all;
	margin-bottom: 20px;
}
input[type='file'] {
	margin-top: 20px;
}
.profile-form-field:focus {
	outline: none;
	border: 1px solid #ffbe0b;
}
.profile-form-field:active {
	outline: none;
}
.preview-image img {
	height: 200px;
	width: 100%;
}
.profile-modal-holder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 0;
	background: #232323;
	width: 100vw;
	height: 100vh;
}
.profile-image {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: #fff;
}
.profile-image-overlay {
	visibility: hidden;
	background: rgba(255, 255, 255, 0.8);
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #050505;
	cursor: pointer;
}
.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.input-file + label {
	cursor: pointer;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.active-user::after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	content: ' \f142';
	font-size: 18px;
}
.profile-photo-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
	padding: 48px 0px 92px 0px;
	position: relative;
}
.thumbnail {
	position: relative;
	width: 120px;
	height: 120px;
	overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
.dropdown-profile-settings {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}
.dropdown-profile-settings-ul {
	list-style-type: none;
	padding-left: 0px;
	width: 75%;
}
.dropdown-profile-settings-ul li {
	height: 40px;
	display: flex;
	justify-content: space-between;
}
.settings-list-item::after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	content: '\f105';
	font-size: 18px;
}
.comments-and-like-holder p {
	text-align: left;
	margin: 6px 24px;
}
.comments-and-like-holder p:nth-of-type(1) {
	text-align: center;
	margin-bottom: 12px;
}
.bold-username {
	font-weight: 800 !important;
	margin-left: 24px !important;
}
.comment-text {
	display: inline;
	margin-left: 6px !important;
}
.clear {
	clear: both;
	display: block;
	content: '';
	width: 100%;
}
.settings-h2 {
	align-self: center;
	position: absolute;
	top: 48px;
}
.close-modal {
	position: absolute;
	left: 48px;
	top: 55px;
}
.settings-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 0;
	background: #232323;
}
.fullsize-photo-overlay-modal {
	display: flex;
	justify-content: center;
	align-content: center;
	position: absolute;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-transition: 0.5s;
	overflow: auto;
	transition: all 0.3s linear;
	z-index: 1;
}
.fullsize-image-holder {
	max-height: 75vh;
	max-width: 100%;
}
.fullsize-photo {
	width: 100%;

}
.profile-photo-modal-holder {
	display: flex;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.6);
	-webkit-transition: 0.5s;
	overflow: auto;
	transition: all 0.3s linear;
	z-index: 0;
}
.inner-profile-modal-holder {
	width: 75%;
	height: 188px;
	background: rgb(20, 20, 20);
	background: radial-gradient(
		circle,
		rgba(20, 20, 20, 1) 0%,
		rgba(5, 5, 5, 1) 100%
	);
	position: absolute;
	top: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.inner-profile-modal-holder-buttons {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.inner-profile-modal-holder-buttons button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	line-height: 1.5;
	margin: 0;
	min-height: 24px;
	padding: 4px 8px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
}
.upload-new-profile-image {
	color: #4c1bec;
}
/* *************** */
